<!DOCTYPE html>
<html>
    <head>
        {% include 'includes/_master_head.twig' %}
        <title>
            {% block title %}
                {% if record.title is defined %}
                    {{ record.title|striptags }} |
                {% endif %}
                {{ app.config.get('general/sitename') }}  
                {% if record.title is not defined %}
                    | {{ app.config.get('general/payoff') }}
                {% endif %}
            {% endblock title %}
        </title>
    </head>
    <body>
        {% if theme.layout is defined %}
            {% set contenttypeslug = app.request.get('contenttypeslug') %}
            {% if record is defined and theme.layout[contenttypeslug~'_'~record.slug] is defined %}
                {% set main_width = theme.layout[contenttypeslug~'_'~record.slug].main.width %}
                {% set aside_width = theme.layout[contenttypeslug~'_'~record.slug].aside.width  %}
            {% elseif theme.layout[contenttypeslug] is defined %}
                {% set main_width = theme.layout[contenttypeslug].main.width %}
                {% set aside_width = theme.layout[contenttypeslug].aside.width  %}
            {% else %}
                {% set main_width = theme.layout['defaults'].main.width %}
                {% set aside_width = theme.layout['defaults'].aside.width  %}
            {% endif %}

            {#            {% set recordslug = record.slug %}#}
            {#            {{ dump(record.contenttype.singular_slug) }}#}
            {#            {{ dump(attribute(theme.layout,record_type_slug~"_"~record.slug) ) }}#}
        {% endif %}

        {% include 'includes/_master_header.twig' %}

        <div class="container page-wrapper">
            <div class="row page-layout-row">
                <div class="col-md-{{ main_width }}">
                    {% block main %}
                        {% if record is defined %}
                            <article> 
                                {{ fields(record=record, template='includes/_sub_fields.twig') }}
                                {% include 'includes/_record_footer.twig' with {'record': record} %}
                            </article>

                        {% elseif records is defined %}
                            {% for record in records %}
                                {% include 'includes/_listing_item.twig' with {'record': record} %}
                                {% if not loop.last %}
                                    <hr />
                                {% endif %}
                            {% else %}
                                <h2>{{ __('general.phrase.no-content-found') }}</h2>
                                <p>Unfortunately, no content could be found.</p>
                            {% endfor %}

                        {% endif %}
                    {% endblock %}
                </div>

                {% if aside_width is defined and aside_width  != 0%}
                    <div class="col-md-{{ aside_width }}">

                        {% include 'includes/_aside.twig' %}
                    </div>
                {% endif %}
            </div>
        </div>

        {% include 'includes/_master_footer.twig' %}


        {% if record is defined and theme.dump.record.all is defined  %} 
            <h2>dump(record)</h2>
            {{ dump(record) }}
        {% endif %}
        {% if theme.dump.app.all is defined  %} 
            <h2>dump(app.config)) </h2>
            {{ dump(app.config) }}
        {% elseif theme.dump.app.config is defined  %}
            <h2>dump(app.config)) </h2>
            {{ dump(app.config) }}
        {% endif %}

    </body>
</html>